@define-color norbg #C5FFF8;
@define-color focbg #FF90BC;
@define-color hbg #7B66FF;
@define-color txt rgba(0, 0, 0, 0);

* {
    background-image: none;
    text-shadow: none;
}

window {
    background-color: transparent;
}

button {
    background-color: @norbg;
    color: @txt;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @focbg;
    background-size: 30%;
}

button:focus#lock {
    background-image: image(url("./icons/lock_black.png"));
}

button:focus#logout {
    background-image: image(url("./icons/logout_black.png"));
}

button:focus#suspend {
    background-image: image(url("./icons/suspend_black.png"));
}

button:focus#shutdown {
    background-image: image(url("./icons/shutdown_black.png"));
}

button:focus#hibernate {
    background-image: image(url("./icons/hibernate_black.png"));
}

button:focus#reboot {
    background-image: image(url("./icons/reboot_black.png"));
}

#lock {
    background-image: image(url("./icons/lock_black.png"));
    border-radius: 150px 0px 0px 150px;
    margin : 350px 0px 350px 250px;
}

#logout {
    background-image: image(url("./icons/logout_black.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 350px 0px 350px 0px;
}

#suspend {
    background-image: image(url("./icons/suspend_black.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 350px 0px 350px 0px;
}

#shutdown {
    background-image: image(url("./icons/shutdown_black.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 350px 0px 350px 0px;
}

#hibernate {
    background-image: image(url("./icons/hibernate_black.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 350px 0px 350px 0px;
}

#reboot {
    background-image: image(url("./icons/reboot_black.png"));
    border-radius: 0px 150px 150px 0px;
    margin : 350px 250px 350px 0px;
}

button:hover {
    background-color: @hbg;
    background-size: 40%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.4s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    margin : 280px 0px 280px 220px;
    background-image: image(url("./icons/lock_white.png"));
    border-radius: 150px 50px 50px 150px;
}

button:hover#logout {
    border-radius: 70px;
    margin : 280px 0px 280px 0px;
    background-image: image(url("./icons/logout_white.png"));
}

button:hover#suspend {
    border-radius: 70px;
    margin : 280px 0px 280px 0px;
    background-image: image(url("./icons/suspend_white.png"));
}

button:hover#shutdown {
    border-radius: 70px;
    margin : 280px 0px 280px 0px;
    background-image: image(url("./icons/shutdown_white.png"));
}

button:hover#hibernate {
    border-radius: 70px;
    margin : 280px 0px 280px 0px;
    background-image: image(url("./icons/hibernate_white.png"));
}

button:hover#reboot {
    border-radius: 50px 150px 150px 50px;
    margin : 280px 220px 280px 0px;
    background-image: image(url("./icons/reboot_white.png"));
}
